@import "variables";

.product {
  margin-top: 150px;
  margin-bottom: 229px;

  &__title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: $secondary-color;
    text-align: center;
  }

  &__items {
    margin-top: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__item {
    width: 282px;
    height: 354px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    box-shadow: 0px 0px 15px #e0d6d6;
  }

  &__item-img {
    width: 214px;
    height: 152px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__item-title {
    text-align: center;
    margin-bottom: 10px;
  }

  &__item-text {
    text-align: center;
  }
}
