@import "variables";

.main {
  margin-top: 134px;

  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info-block {
    max-width: 652px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  &__image-block {
    width: 100%;
    max-width: 520px;
    aspect-ratio: 520 / 342;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: $primary-color;
    font-size: 45px;

    span {
      color: $secondary-color;
    }
  }

  &__advantages-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.advantages-card {
  display: flex;
  gap: 17px;
  max-width: 315px;
  padding: 5px;

  &__right-side {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }

  &__title {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: $primary-color;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: $secondary-color;
    font-size: 16px;
  }
}
