@import "variables";

.header {
  box-shadow: 0px 0px 15px #e0d6d6;
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 244px;
  }
}

.menu {
  @media screen and (max-width: 1190px) {
    display: none;
  }
}

.nav {
  display: flex;
  gap: 50px;

  &__item {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: $secondary-color;
  }
}

.burger-menu {
  display: none;

  @media screen and (max-width: 1190px) {
    display: block;
  }

  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 30;
    width: 80px;
    height: 80px;
    transition: 0.4s;
  }

  &__lines,
  &__lines::before,
  &__lines::after {
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: $secondary-color;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  &__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before {
      content: "";
      top: -12px;
    }

    &::after {
      content: "";
      top: 12px;
    }
  }

  &__nav {
    padding-top: 120px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: $secondary-color;
    overflow-y: auto;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
  }

  &__link {
    padding: 18px 35px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: $white-color;
    border-bottom: 1px solid $white-color;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.burger-menu_active {
  .burger-menu__lines {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
      background-color: $white-color;
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
      background-color: $white-color;
    }
  }

  .burger-menu__nav {
    right: 0;
  }
}
