@import "variables";

.order {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1160px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 384px;
  }

  &__info-title {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 35px;
    color: $primary-color;

    span {
      color: $secondary-color;
    }
  }

  &__info-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $secondary-color;
    line-height: 24px;
    height: 165px;
  }

  &__image {
    width: 100%;
    max-width: 410px;
    aspect-ratio: 410 / 454;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__input {
    width: 330px;
    height: 60px;
    border: 1px solid $secondary-color;
    background-color: transparent;
    padding: 12px;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $light-text-color;

    &::placeholder {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: $secondary-color;
      padding: 12px;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: $primary-color;
      -webkit-box-shadow: none;
    }

    &.ng-invalid.ng-touched {
      border-color: red;
    }
  }
}
